<div id="edit_page" class="col-md-8 col-md-offset-2">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1>Fix Pic</h1>
			</div>
			<div class="panel-body">
				<div class="current_image">
					<strong class="center">Right now</strong>
					<%= image_tag @pic.image.url(:medium) %>
				</div>
				<%= render 'form' %>
				<%= link_to 'Cancel', pic_path %>
			</div>
		</div>
	</div>
</div>